
<body>
<div class="container pt-4">
    <div class="row pb-2">
        <div class="text-right">
            <button mat-raised-button color="warn" (click)="OnLogout()">Logout</button>

        </div>

    </div>
   <h3>Welcome Back!</h3><br>
   <div class="demo-section">
    Hey Shamunesh! Ready to Donate ? <br><br>
    <button mat-raised-button color="primary"
        matBadge="2 " matBadgePosition="before" matBadgeColor="accent">
      Your Donations
    </button>
    <br><br>
  </div>
  <mat-card>
    <mat-card-content>Donation request received! Our Volunteer will get in touch with you shortly! </mat-card-content>
  </mat-card>
  <br><br>
  <mat-card>
    <mat-card-content>Donation made on 15 January 2023 | Dinner Meal for 5 head counts donated Successfully </mat-card-content>
  </mat-card>
  <br><br>
    <mat-card>
        <mat-card-content>Donation made on 20 December 2022 | Lunch Meal for 3 head counts donated Successfully </mat-card-content>
      </mat-card>
      
</div>
</body>